{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
  </head>
  <body>
    <div class="chat">
      <form method="post" id="form1">
        {% csrf_token %}

        <div class="chat-header">
          <img src="{% static 'imgs/stock.png'%}" alt="stock market photo" />
          <label> InvestChatPros</label>
        </div>

        <hr />
        <div id="chat-answer">
          <p>welcome to invest chat pro how can i help you ?</p>
        </div>

        {% block content%} {% if message%}
        <p>{{message}}</p>
        {% endif %}
        <p id="waiting"></p>
        {% if response%}
        <p>{{response}}</p>
        {% endif %} {% endblock %}

        <div class="chat-input">
          <hr />

          <div class="text_field">
            <input type="text" required name="message" id="chat-value" />

            <button type="submit" id="send-m">
              <img src="{% static 'imgs/send.png'%}" alt="send-icon" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    const chatMessages = $("#chat-messages");
    const form = $("#form1");
    const waiting = $("#waiting");
    const sendButton = $("#send-m");
    const chatValue = $("#chat-value");

    form.on("submit", function (e) {
      sendButton.prop("disabled", true);

      {% comment %} e.preventDefault(); {% endcomment %}
      waiting.val("Analyzing ...")
      chatValue.onChange(function () {
        sendButton.prop("disabled", false);
      });
    });

    // Function to check for updates periodically (e.g., every 5 seconds)
    function checkForUpdates() {
      // Simulate checking for updates (replace with your logic to fetch updates)
      const updates = ["New message 1", "New message 2"];

      updates.forEach(function (update) {
        // Add the update to the chat messages
        chatMessages.append("<p>" + update + "</p>");
      });

      // Schedule the next check
      setTimeout(checkForUpdates, 5000); // 5000 milliseconds (5 seconds)
    }

    // Start checking for updates
    checkForUpdates();
  });
</script>
