<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Edit</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="right">
        <form method="post">
          {% csrf_token %}
          <label>USEREMAIL</label>
          <div class="text_field">
            <input type="text" required name="username" />
          </div>
          <label>OLD USERNAME</label>
          <div class="text_field">
            <input type="password" required name="password" />
          </div>

          <label>NEW USERNAME</label>
          <div class="text_field">
            <input type="password" required name="password" />
          </div>

          <input type="submit" id="update-button" value="UPDATE" />
        </form>

        <a href="{% url 'homePage' %}"><button type="button">Back</button> </a>
      </div>

      <div class="left">
        <form method="post">
          {% csrf_token %}

          <button type="submit" id="upload-button">
            <img
              src="{%static 'imgs/upload-profile.png'%}"
              alt="upload profile picture photo"
              id="upload-profile"
            />
          </button>
        </form>

        <div class="Delete">
          <img src="{% static 'imgs/profile-icon.png' %}" alt="profile icon " />

          <a href="{% url 'delete' %}">
            <button type="button">Delete Account</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
