<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="right">
        <img
          src="{% static 'imgs/favpng_electrical-network-electronic-circuit-printed-circuit-board-electrical-engineering-removebg-preview 2.png' %}"
          alt=" electrical network"
        />

        <h2>suggestion 1</h2>
        <h2>suggestion 2</h2>
        <h2>suggestion 3</h2>
        <h2>suggestion 4</h2>

        <button type="button" id="chat-button">Start Chat</button>
      </div>

      <div class="left">
        <input type="text" placeholder="Search.." />
        <hr />

        <h2>Yestrday</h2>
        <h3>Company 1</h3>
        <h3>Company 2</h3>

        <h2>Prvious Week</h2>
        <h3>Company 1</h3>
        <h3>Company 2</h3>
      </div>
    </div>
  </body>
</html>
